/*General page styling*/

body{
    background-image: url("images/fpcodeo7.png");
    background-repeat: repeat;
    background-attachment: fixed;
}



nav{
    display: flex;
    justify-content: center;
    font-family: "Typewriter Inked";
}

.header{
    text-align: center;
    font-family: "Typewriter Inked";
    font-size: 50px;
}

.buttons{
    font-family: "Typewriter Inked";
    font-size: 20px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    padding: 10px 12px;
}

#fplogo{
    width: 650px;
    height: 475px;
}

#homemain{
    display: flex;
    justify-content: center;
}

#welcomeText{
    text-align: center;
    font-family: "Typewriter Inked";
    font-size: 25px;
}

.navButtons{
    font-family: "Typewriter Inked";
    font-size: 20px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    padding: 10px 12px;
}

a{
    text-decoration: none;
}

#fpme{
    width: 400px;
}

#aboutMe{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#abtMeText{
    margin: auto;
    width: 50%;
    padding: 10px;
}

#abtMePicDiv{
    display: flex;
    justify-content: center;
}

/*PROJECTS*/

.fpclipart{
    width: 350px;
}

#projectsDiv{
    display: flex;
    flex-direction: column;
}

.project{
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#projectLine{
    font-family: "Typewriter Inked";
    text-align: center;
}

.projectText{
    display: flex;
    flex-direction: column;
}

.pjImg{
    display: flex;
    flex-direction: column;
}

/*CONTACT ME*/

#fpcutelaptop{
    width: 500px;
}

#contactDiv{


}

#contactImgDiv{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
}
#contactButtDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}